.item-count-position{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-controls{
    display: flex;
    justify-content: space-around;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    width: 200px;
    padding: 5px 0;
    margin: 20px 0;
    box-shadow: 1px 1px 2px 1px black;
}

.controls{
    font-size: 18px;
    background: none;
    border: none;
    color: #8403f2;
    cursor: pointer;
}

.count{
    margin: 0;
    font-size: 20px;
}

.detail-card-button{
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background: linear-gradient(to left, #0c0717, #3f0071);
    border: 2px solid #a6b2ec;
    border-radius: 5px;
    transition: 0.5s;
}

.detail-card-button:hover{
    transform: scale(1.04);
    box-shadow: 1px 1px 5px #a6b2ec;
}