.card{
    width: 26%;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 3px #082032;
    border-radius: 10px;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.015);
    box-shadow: 1px 1px 4px 1px #082032;
}

.card-img{
    width: 80%;
    margin: 10px;
    position: relative;
    object-fit: cover;
}

.container-card-body{
    width: 100%;
    position: absolute;
    bottom: -120px;
    transition: 0.5s;
}

.container-card-body:after {
    border-style: solid;
    border-width: 0 0 20px 0;
    border-color: #fff;
    border-top: 2px solid black;
    position:absolute;
    content: " ";
    display:block;
    left:-5%;
    top:-10px;
    transform:rotate(-3deg);
    width:110%;
}

.card-body{
    padding: 20px;
    position: relative;
    background: white;
}

.card:hover .container-card-body{
    bottom: 0;
}

.card-title{
    font-size: 20px;
}

.card-price{
    font-size: 25px;
}

.card-button{
    cursor: pointer;
    font-size: 15px;
    color: aliceblue;
    background-color: #082032;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    box-shadow: 1px 1px 2px #082032;
    transition: 0.5s;
}

.card-button:hover{
    transform: scale(1.1);
}